@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.bottom-boder-radius {
  border-radius: 0 0 2rem 2rem;
}
.pinkBorder:focus {
  outline: none;
  border: 2px solid;
  @apply border-more-grayish;
}

.text-style {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.border-bottom-left {
  border-radius: 0.5rem 0.5rem 0.5rem 0rem;
}

.custom-ok-button {
  background: rgb(216, 48, 48);
}

.custom-ok-button:hover {
  background: red !important;
}

.ant-popover-inner {
  padding: 5px !important;
}

.contacts-min-height {
  min-height: calc(100vh - 247px);
}
.chatList-min-height {
  min-height: calc(100vh - 271px);
}
.chatspace-min-height {
  min-height: calc(100vh - 130px);
}

.maxCharacter {
  max-width: 8ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
