@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.bottom-boder-radius {
  border-radius: 0 0 2rem 2rem;
}
.pinkBorder:focus {
  outline: none;
  border: 2px solid;
  @apply border-more-grayish;
}

.text-style {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.border-bottom-left {
  border-radius: 0.5rem 0.5rem 0.5rem 0rem;
}

.custom-ok-button {
  background: rgb(216, 48, 48);
}

.custom-ok-button:hover {
  background: red !important;
}

.ant-popover-inner {
  padding: 5px !important;
}

.chatList-min-height {
  min-height: calc(100vh - 277px);
}
.contacts-min-height {
  min-height: calc(100vh - 301px);
}
.chatspace-min-height {
  min-height: calc(100vh - 130px);
}
.setting-min-height {
  min-height: calc(100vh - 256px);
}

.maxCharacter {
  max-width: 8ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myBlur {
  filter: blur(10px);
}

.chatMediaWidth {
  width: clamp(250px, auto, 800px);
  /* should add some percentage as the preferred width but there is some problem*/
}

.chatVideoAspectRatio {
  aspect-ratio: 16/9;
  width: clamp(250px, auto, 800px);
}
